.list {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    transform:rotate(-20deg); 
    -webkit-transform:rotate(-20deg); 
    -moz-transform:rotate(-20deg); 
    -o-transform:rotate(-20deg); 
}

.button {
    color: #1b769e;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    background: white;
}

.button:hover {
   background-color: rgb(249, 167, 53); 
}
