.list {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    position: relative;
    left: -37px;
}

.button {
    color: #1b769e;
    border: none;
    padding: 10px 15px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    background: white;
    transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    letter-spacing: 1px;
    cursor: pointer;
}

.button:hover {
   background-color: rgb(249, 167, 53);
}
